.item{
    border:1px solid #ccc;
    margin:10px;
    padding:10px;
    box-shadow:0 0 10px #ccc;
}
.user{
    font-size:18px;
}
#content{
    font-size:15px;
}
.store{
    font-size:20px;
    color:green
}
